# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.env
.env.*
.venv
venv/
ENV/
env/

# Testing
.tox/
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.cache

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# VS Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Streamlit Specific
.streamlit/secrets.toml
.streamlit/config.toml

*.csv
data/*.csv

*.txt

.streamlit
.streamlit/*